global
    daemon
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend ft_test
    bind *:21123
    mode tcp
    default_backend bk_test

backend bk_test
    mode tcp
    server srv_test 127.0.0.1:21122 send-proxy-v2

